.paramsInputContainer {
  min-height: 100px;
  margin-top: 10px;
  padding: 0px 10px;
}

.queryParamsTable {
  width: 100%;
  background-color: darken($color-dark-purple-secondary, 10%);
  border-collapse: collapse;

  .tableHead,
  .tableData {
    height: 25px;
    padding: 4px 8px;
    text-align: left;
    background-color: darken($color-dark-purple-secondary, 10%);
    border: 1px solid $color-dark-purple-main;
    font-size: 14px;
    &.tableDataCenter {
      text-align: center;
    }
  }

  .inputField {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: $color-dark-purple-secondary;
    color: $font-color-light;

    &:focus {
      outline: none;
      border-color: #007bff; // Blue highlight on focus
    }
  }

  .deleteButton {
    background: none;
    border: none;
    padding: 4px;
    cursor: pointer;
    color: #dc3545; // Red color for delete

    &:hover {
      background-color: #f0f0f0; // Light background on hover
    }
  }
}
