.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-height: 100%;
}

.formHeader {
  font-size: 44px;
  font-family: $font-secondary;
}
