.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-height: 100%;
}

.loadingSvg {
  display: block;
  height: 80px;
  width: auto;
}
