//Fonts

$font-main: 'Raleway', sans-serif;
$font-secondary: 'Roboto', sans-serif;

//Colors
$color-dark-bg: rgb(23, 21, 59);
$color-dark-purple-secondary: rgb(46, 35, 108);
$color-dark-purple-main: rgb(67, 61, 139);
$color-dark-pink: rgb(200, 172, 214);
$color-error: rgb(185, 81, 81);

$font-color-dark: rgb(39 41 59);
$font-color-light: #fff;
