%transition {
  transition: all 0.3s ease-out;
}

%visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  border: 0;
}

%container {
  @include big-mobile {
    padding: 10px 15px;
  }
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 30px;
}
