.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-height: 100%;
}

.greetingContainer {
  font-family: $font-secondary;
  font-size: 100px;
}

.hand {
  max-width: 300px;
  position: absolute;
  z-index: -1;
  top: 20%;
  left: 70%;
  transition: transform 0.5s ease-in-out;
}

.buttonsContainer {
  display: flex;
}

.loadingSvg {
  display: block;
  height: 80px;
  width: auto;
}

.buttonLarge {
  background-color: $color-dark-purple-main;
  border: none;
  padding: 15px 32px;
  text-align: center;
  border-radius: 0.25rem;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  cursor: pointer;
  &:hover {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    background-color: $color-dark-pink;
    color: $font-color-dark;
  }
}

.buttonLarge:hover {
  transform: translateY(-1px);
}
