.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-height: 100%;
}

.greetingContainer {
  font-family: $font-secondary;
  font-size: 100px;
}
