.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-height: 100%;
  margin: 0px 1%;
}

.greetingContainer {
  font-family: $font-secondary;
  font-size: 90px;
  text-align: center;
  @include tablet {
    font-size: 80px;
  }
  @include laptop {
    font-size: 64px;
  }
  @include big-mobile {
    font-size: 52px;
  }
}

.hand {
  max-width: 300px;
  position: absolute;
  z-index: -1;
  top: 20%;
  left: 70%;
  transition: transform 0.5s ease-in-out;
  margin-right: 1%;

  @include tablet {
    max-width: 200px;
    left: 75%;
  }

  @include laptop {
    left: 70%;
    max-width: 170px;
  }

  @include big-mobile {
    display: none;
  }
}

.buttonsContainer {
  display: flex;

  :first-child {
    margin-left: 0px;
  }

  :last-child {
    margin-right: 0px;
  }

  & > * {
    margin: 0px 20px;
    @include mobile {
      margin: 0px;
    }
  }

  @include mobile {
    flex-direction: column;
    width: 80%;
  }
}

.loadingSvg {
  display: block;
  height: 80px;
  width: auto;
}

.buttonLarge {
  background-color: $color-dark-purple-main;
  border: none;
  padding: 15px 32px;
  text-align: center;
  border-radius: 0.25rem;
  margin: 20px 0px;
  margin-left: 30px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  cursor: pointer;

  @include laptop {
    margin-left: 20px;
    padding: 12px 25px;
  }

  @include mobile {
    padding: 8px 13px;
    margin: 10px 0px;
    margin-left: 0px;
    margin-right: 3px;
  }

  &:hover {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    background-color: $color-dark-pink;
    color: $font-color-dark;
  }
}

.buttonLarge:hover {
  transform: translateY(-1px);
}

.greetingMessage {
  font-size: 20px;
  margin: 20px 0px;
  text-align: center;
  width: 45%;
  @include tablet {
    font-size: 18px;
    width: 90%;
  }

  @include laptop {
    font-size: 16px;
    width: 80%;
  }

  @include big-mobile {
    font-size: 16px;
    margin: 15px 0px;
    width: 95%;
    margin-top: 30px;
  }

  @include mobile {
    margin-bottom: 10px;
  }
}
