.restResponseContainer {
  min-width: 40%;
  margin: 20px;
  background-color: $color-dark-purple-secondary;
  border-radius: 30px;
  padding: 10px;
}

.syntaxHighlighterWrapper {
  width: 100%;
}

.httpCodeContainer {
  padding: 10px;
  height: 55px;
  display: flex;
  align-items: center;
}
