.entryContainer {
  display: grid;
  grid-template-columns: 10% 40% 50%;
  gap: 2px;
  height: 40px;
  align-items: center;
  border-bottom: 0.5px solid $font-color-light;
  border-left: 0.5px solid $font-color-light;
  border-right: 0.5px solid $font-color-light;
  cursor: pointer;
  &:hover {
    background-color: $color-dark-purple-secondary;
  }

  @include big-mobile {
    grid-template-columns: 20% 40% 40%;
  }
}

.textDescription {
  margin: 2px 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
